.DS_Store 
__pycache__/        # Python bytecode
*.pyc               # Python compiled files
*.pyo               # Python optimized files
.pytest_cache/      # pytest cache
.coverage   
*.log   
mlruns/ 
venv/
config.json  
.ipynb_checkpoints/